<p style="text-align: center;"><strong>Welcome to the mine online web-site!&nbsp;</strong></p>
<p>It's my first work from Django! I very happy because I can see it. Thank you very mach.&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<table style="height: 113px; width: 251.402px;">
<tbody>
<tr style="height: 32.9464px;">
<td style="width: 132px; height: 32.9464px;">28.09.2023 year</td>
<td style="width: 107.402px; height: 32.9464px;">17:42 p.m.</td>
</tr>
<tr style="height: 50px;">
<td style="width: 132px; height: 50px;">repeat_2.htlm</td>
<td style="width: 107.402px; height: 50px;">Hello my friends!&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>